---
import { getCollection } from "astro:content";
import Page from "@/layouts/Page.astro";
import Main from "@/components/Main.astro";
import BlogPostCard from "@/components/BlogPostCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Page>
  <Main title="Blog">
    <ul class="flex flex-col gap-y-2 items-start">
      {
        posts.map((post) => (
          <li>
            <BlogPostCard {...post} />
          </li>
        ))
      }
    </ul>
  </Main>
</Page>
