---
import Page from "@/layouts/Page.astro";
import Main from "@/components/Main.astro";
import BlogPostList from "@/components/BlogPostList.astro";
---

<Page>
  <Main title="Blog">
    <BlogPostList />
  </Main>
</Page>
