---
import Page from "@/layouts/Page.astro";
import BlogPostList from "@/components/BlogPostList.astro";
import { SITE_TITLE } from "@/consts";
---

<Page title={`Blog | ${SITE_TITLE}`} description="My personal blog">
  <h1 class="text-4xl font-bold">Blog</h1>
  <div class="py-1"></div>
  <a href="/blog/tags" class="underline md:no-underline md:hover:underline"
    >See all tags</a
  >
  <div class="py-3"></div>
  <hr />
  <div class="py-3"></div>
  <BlogPostList />
</Page>
