@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Berkeley Mono Trial";
  src: url("/fonts/BerkeleyMonoTrial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.blur-target {
  position: relative;
  display: inline-block; /* Ensure each line is contained */
}

.blur-target::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: -1; /* Ensure the background is behind the text */
  filter: blur(0.5em);
}
