@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BerkeleyMono";
  src: url("/fonts/BerkeleyMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BerkeleyMono";
  src: url("/fonts/BerkeleyMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BerkeleyMono";
  src: url("/fonts/BerkeleyMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "BerkeleyMono";
  src: url("/fonts/BerkeleyMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
