@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Berkeley Mono Trial";
  src: url("/fonts/BerkeleyMonoTrial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
