@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Berkeley Mono Variable";
  font-style: normal;
  font-weight: 100 150;
  src:
    url("/fonts/BerkeleyMonoVariable-Regular.woff2") format("woff2-variations"),
    url("/fonts/BerkeleyMonoVariable-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Berkeley Mono Variable";
  font-style: italic;
  font-weight: 100 150;
  src:
    url("/fonts/BerkeleyMonoVariable-Italic.woff2") format("woff2-variations"),
    url("/fonts/BerkeleyMonoVariable-Italic.woff2") format("woff2");
}
