---
import Page from "@/layouts/Page.astro";
import Main from "@/components/Main.astro";
---

<Page title="404 - Page Not Found">
  <Main title="404 - Page Not Found">
    <a href="/">
      <p class="hover:underline">Go home</p>
    </a>
  </Main>
</Page>
