---
import Main from "@/components/Main.astro";
import Page from "@/layouts/Page.astro";
import RecentPosts from "@/components/RecentPosts.astro";
import RecentVideos from "@/components/RecentVideos.astro";
// import Content from "@/components/pages/index.mdx" // add back when issue #11531 is fixed
---

<Page>
  <Main title="Home">
    <article class="prose">
      <h2>About</h2>
      <p>
        I’m a software engineer and content creator based in San Francisco and
        working at Vercel, where I help make the web better for everyone.
      </p>
      <p>I have 3 core goals in life:</p>
      <ul>
        <li>To impact the world</li>
        <li>To build and maintain genuine relationships</li>
        <li>To become a skilled and competent human</li>
      </ul>
      <p>
        Outside of programming, I also enjoy reading, writing, language
        learning, and going to cafes.
      </p>
      <h2>Recent Posts</h2>
      <RecentPosts />
      <h2>Recent Videos</h2>
      <RecentVideos />
    </article>
  </Main>
</Page>
