---
import Main from "@/components/Main.astro";
import Page from "@/layouts/Page.astro";
import { getEntry } from "astro:content";

// Prerender to cache video api result
export const prerender = true;

const md = await getEntry("pages", "index");
if (!md) throw new Error("no index page found");
const { Content } = await md.render();
---

<Page keyword="await">
  <Main title="Home">
    <article class="prose">
      <Content />
    </article>
  </Main>
</Page>
