---
import Main from "@/components/Main.astro";
import Page from "@/layouts/Page.astro";
import Content from "@/components/pages/index.mdx";
---

<Page>
  <Main title="Home">
    <article class="prose">
      <Content />
    </article>
  </Main>
</Page>
