---
import Main from "@/components/Main.astro";
import Page from "@/layouts/Page.astro";
import { SITE_TITLE } from "@/lib/consts";
import ProjectList from "@/components/ProjectList.astro";
---

<Page title={`Projects | ${SITE_TITLE}`} description="Projects I've worked on">
  <Main title="Projects">
    <ProjectList />
  </Main>
</Page>
