---
import Page from "@/layouts/Page.astro";
import EssayList from "@/components/EssayList.astro";
import { SITE_TITLE } from "@/lib/consts";
import Main from "@/components/Main.astro";
---

<Page title={`Essays | ${SITE_TITLE}`} description="My essays">
  <Main title="Essays">
    <EssayList />
  </Main>
</Page>
