---
import { getCollection } from "astro:content";
import BlogPostCard from "@/components/BlogPostCard.astro";

type Props = {
  limit?: number;
  tag?: string | null;
};

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const { limit, tag } = Astro.props;
const filteredPosts = tag
  ? posts.filter((post) => post.data.tags?.includes(tag))
  : posts;
const slicedPosts = limit ? filteredPosts.slice(0, limit) : filteredPosts;
---

<ul class="flex flex-col gap-y-5 items-start">
  {
    slicedPosts.map((post) => (
      <li class="w-full max-w-96">
        <BlogPostCard {post} highlight={tag} />
      </li>
    ))
  }
</ul>
