---
import type { HTMLAttributes } from "astro/types";
import CenterUnderline from "./AnimatedUnderline";

type Props = {
  href: HTMLAttributes<"a">["href"];
  label: string;
};

const { href, label } = Astro.props;
---

<a {href} class="underline md:no-underline">
  <CenterUnderline label={label} client:load alwaysShowOnMobile />
</a>
