---
import type { HTMLAttributes } from "astro/types";

type Props = {
  href: HTMLAttributes<"a">["href"];
};

const { href } = Astro.props;
---

<a
  {href}
  class="text-white bg-black hover:bg-white hover:text-black transition rotate-container ease-out duration-300 hover:animate-pulse"
  target="_blank"
  rel="noopener noreferrer"><h3 class="rotate-text p-[0.1rem]"><slot /></h3></a
>
