---
import type { HTMLAttributes } from "astro/types";
import ScrambleHover from "./ScrambleHover";

type Props = {
  href: HTMLAttributes<"a">["href"];
  label: string;
};

const { href, label } = Astro.props;
---

<a
  {href}
  class="group xs:max-w-24 relative max-w-22 -skew-y-5 overflow-hidden bg-black px-1
    text-white transition duration-500 ease-out hover:bg-white hover:text-black"
  target="_blank"
  rel="noopener noreferrer"
>
  <h3
    class="inline-block skew-y-5 p-[0.1rem] transition-transform duration-500
      group-hover:skew-y-10"
  >
    <ScrambleHover text={label} client:load maxIterations={5} />
  </h3>
</a>
