---
type Props = {
  title: string;
};
const { title } = Astro.props;
---

<h1 class="font-bold text-4xl">{title}</h1>
<div class="py-3"></div>
<hr />
<div class="py-3"></div>
<section>
  <slot />
</section>
