---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "x402-mcp",
    description: "An MCP native intregration for x402 using the AI SDK",
    link: "https://github.com/ethanniser/x402-mcp",
    github: true,
  },
  {
    title: "Effect by Example",
    description:
      "A curated set of high quality snippets with explanations for Effect",
    link: "https://github.com/ethanniser/effect-by-example",
    github: true,
  },
  {
    title: "broadcast-mcp",
    description:
      "A novel tab-to-tab transport method for MCP, solving the MCP auth problem with a single react component. Built at the world's largest MCP hackathon",
    link: "https://x.com/ethanniser/status/1923956734546280684",
  },
  {
    title: "Effectis",
    description: "A fully compatible reimplentation of Redis using Effect",
    link: "https://github.com/ethanniser/effectis",
    github: true,
  },
  {
    title: "grep.app",
    description:
      "I rewrote grep from a CRA SPA to a modern Next.js app full of performance optimizations",
    link: "https://vercel.com/blog/migrating-grep-from-create-react-app-to-next-js",
    github: false,
  },
  {
    title: "NextFaster",
    description: "A highly performant e-commerce template using Next.js",
    link: "https://github.com/ethanniser/NextFaster",
    github: true,
  },
  // {
  //   title: "zdb",
  //   description:
  //     "A debugger written in zig, following 'Building a Debugger' by Sy Brand",
  //   link: "https://github.com/ethanniser/zdb",
  //   github: true,
  // },
  {
    title: "site",
    description: "My personal website (that you are on right now :)",
    link: "https://github.com/ethanniser/site",
    github: true,
  },
  {
    title: "next-typesafe-url",
    description:
      "Fully typesafe, JSON serializable, and zod validated URL search params, dynamic route params, and routing for Next.js",
    link: "https://github.com/ethanniser/next-typesafe-url",
    github: true,
  },
  {
    title: "the beth stack",
    description:
      "an opinionated hypermedia-driven architecture for building web apps",
    link: "https://github.com/ethanniser/the-beth-stack",
    github: true,
  },
] satisfies {
  title: string;
  description: string;
  link: string;
  github?: boolean;
}[];
---

<ul class="flex flex-col items-start gap-y-5">
  {
    projects.map((project) => (
      <li class="w-full max-w-96">
        <ProjectCard {...project} />
      </li>
    ))
  }
</ul>
