---
import type { CollectionEntry } from "astro:content";

type Props = {
  tags: CollectionEntry<"blog">["data"]["tags"];
  articleName: string;
};

const { tags, articleName } = Astro.props;
---

<div>
  {
    tags?.map((tag) => (
      <a href={`/blog/tags/${tag}`}>
        <p
          class="text-sm blur-target-no-hover px-1 border border-black rounded-xl hover:bg-black hover:text-white"
          transition:name={`${articleName} - tag -${tag}`}
        >
          {tag}
        </p>
      </a>
    ))
  }
</div>
