---
import VideoCard from "@/components/VideoCard.astro";
import { getVideos } from "@/lib/video";
type Props = {
  limit?: number;
  grid?: boolean;
};
const { limit, grid } = Astro.props;

const videos = await getVideos({ limit });
---

<ul
  class={`flex flex-col items-start gap-y-5
    ${grid ? "lg:grid lg:grid-cols-2 lg:gap-x-6 lg:gap-y-6" : ""}`}
>
  {
    videos.length > 0 ? (
      videos.map((video) => (
        <li class="w-full max-w-96">
          <VideoCard {video} />
        </li>
      ))
    ) : (
      <p>No videos found? The YouTube API is probably ratelimiting me...</p>
    )
  }
</ul>
