---
import Page from "@/layouts/Page.astro";
import Main from "@/components/Main.astro";
import BlogPostList from "@/components/BlogPostList.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const allTagsDup = posts
    .flatMap((post) => post.data.tags)
    .filter((tag): tag is string => !!tag);
  const allTags = [...new Set(allTagsDup)];
  return allTags.map((tag) => ({
    params: { tag },
  }));
}

const { tag } = Astro.params;
---

<Page>
  <h1 class="font-bold text-4xl">{`Blog - ${tag}`}</h1>
  <div class="py-1"></div>
  <a href="/blog/tags" class="md:hover:underline underline">See all tags</a>
  <div class="py-3"></div>
  <hr />
  <div class="py-3"></div>
  <BlogPostList tag={tag} />
</Page>
