---
import Page from "@/layouts/Page.astro";
import Main from "@/components/Main.astro";
import { getCollection } from "astro:content";

function groupBy<K extends PropertyKey, T>(
  items: Iterable<T>,
  keySelector: (item: T, index: number) => K
): Partial<Record<K, T[]>> {
  return [...items].reduce(
    (result, item, index) => {
      const key = keySelector(item, index);
      if (result[key]) {
        result[key]!.push(item);
      } else {
        result[key] = [item];
      }
      return result;
    },
    {} as Partial<Record<K, T[]>>
  );
}

const posts = await getCollection("blog");
const postPerTag = posts.flatMap(
  (post) => post.data.tags?.map((tag) => ({ post, tag })) ?? []
);
const groupedPosts = groupBy(postPerTag, (_) => _.tag);
---

<Page>
  <Main title="Tags">
    <div class="flex flex-col gap-y-3">
      {
        Object.entries(groupedPosts).map(([tag, posts]) => (
          <a href={`/blog/tags/${tag}`}>
            <h2 class="text-xl md:hover:underline md:no-underline underline">{`${tag} (${posts?.length})`}</h2>
          </a>
        ))
      }
    </div>
  </Main>
</Page>
